:root{
    --color-primary: #28a745; /* Un verde vibrante y natural */
    --color-primary-dark: #218838;
    --color-secondary: #f8f9fa; /* Un gris muy claro para fondos */
    --color-dark: #343a40; /* Negro suave para texto */
    --color-light: #ffffff;
    --font-family: 'Poppins', sans-serif;
    --header: 50px;
}

body{
    background-color: rgb(255, 255, 255);
    font-family: var(--font-family);
    color: var(--color-dark);
}

.main-header{
    background-color: rgb(39, 19, 19);
    height: var(--header);
    display: block;
    
}

/* Estilos Para el Menu */

.panel{
    background-color: var(--color-light);
    position: fixed;
    width: 100%;
    z-index: 998;
    height: 50vh;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-100%,100%);
    transition: transform .5s ease;
}

.panel.is-active{
    transform: translate(0,0);
}

.nav-links{  
    margin:0; /* por el momento necesario*/
    height: 40vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;


}

.nav-links li{
    list-style: none;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}

.nav-links a{
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    padding: 5px 2px;

}

.nav-links a:hover{
    background-color: var(--color-primary);
    color: var(--color-light);
    font-weight: bold;
    transition: all .3s ease;
}


.btn-menu{
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    right: 1vw;
}